html, * {
    color: white;
    max-height: 100%;
    box-sizing: border-box;
    margin: none;
    text-align: center;
}

body {
    background-color: #200040;
    height: 100%;
}

.pads {
    width: 60%;
    margin: 5% 0 0 20%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4%;
    grid-auto-rows: 200px;
}

.pad {
    background-color: #6000BF;
    border-radius: 5%;
}